@model ForgotPasswordVM
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_defaultLayout.cshtml";
}

<section class="signup">
    <div class="container1">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Forgot Password</h2>
                <form asp-controller="Account" asp-action="ForgotPassword" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="email"><i class="ri-mail-fill"></i></label>
                        <input asp-for="Email" type="email" id="email" placeholder="Your Email" required />
                        <span asp-validation-for="Email" style="color: red"> </span>
                    </div>
                    <div class="form-group form-button">
                        <button type="submit" class="webButton">Confirm</button>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="~/assets/signing/signup-image.jpg" alt="sing up image"></figure>
                <a asp-action="Login" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</section>



@section css {
    <link href="~/assets/sign-up.css" rel="stylesheet" />
}

@section valid{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

