
@{
    ViewData["Title"] = "VerifyEmail";
    Layout = "~/Views/Shared/_defaultLayout.cshtml";
}


<h1 class="alert">Please Check Your email!!!</h1>

<style>
    .alert {
        padding-left: 480px;
        margin-bottom: 70px;
        margin-top: 90px;
        color: #ff6b6b;
    }

</style>