
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_defaultLayout.cshtml";
}




<main>


    <div class="single-cart">
        <div class="container">
            <div class="wrapper">
                <div class="breadcrumb">
                    <ul class="flexitem">
                        <li><a href="#">Home</a></li>
                        <li>Cart</li>
                    </ul>
                </div>
                <div class="page-title">
                    <h1>Wishlist</h1>
                </div>
                <div class="products one cart">
                    <div class="flexwrap">
                        <form class="form-cart">
                            <div class="item">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Price</th>                                            
                                            <th>Remove</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                    </tbody>
                                </table>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{ 
    <script src="~/wishlist.js"></script>
}


